:root {
    --primary-color: #47CFAC;
    --section-color: #E6E9ED;
}

@font-face {
    font-family: "Flaticon";
    src: url("../../assets/font/Flaticon.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,500;1,700&display=swap');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.home-body {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 1.6rem;
}

.grid-container  {
    max-width: 980px;
    margin: auto;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--primary-color);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-items: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span {
    width: 50px;
    height: 50px;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

main .home-main-section {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/img/Cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-main-section .hero {
    width: 80%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.09);
}

.home-main-section .hero__container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid white;
}

.home-main-section .hero .hero__container h2 {
    color: white;
    font-size: 3.5rem;
    font-family: "Flaticon", sans-serif;
}

.home-main-section .hero .hero__container button, button a {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    font-size: 2.5rem;
    padding: 10px;
    margin-top: 50px;
    color: white;
    font-family: "Flaticon", sans-serif;
}

.home-main-section .hero .hero__container button:hover {
    box-shadow: 0px 0px 15px 0px white;
    padding: 9px;
    border: 1px solid white;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: var(--section-color);
    padding: 0px 50px 40px;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-posts-container {
    padding: 0px 50px 40px;
}

hr {
    height: 1px;
    width: 100%;
    margin: 20px auto 15px;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #CDD2DA;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.blogs-button {
    border: 1px solid var(--primary-color);
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.blogs-button:hover {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 0px 5px 0px #22272D;
}

.blogs-posts-container .grid-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blogs-new-info-container p {
    margin-bottom: 10%;
}

.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .posts-container p {
    margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
    width: 100%;
}

.blogs-posts-container .post-container img + p {
    font-weight: bolder;
    margin: 5px 0px;
}

.blogs-posts-container .post-container img + p + p {
    margin: 5px 0px 15px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #22272D;
    border-top: 35px solid var(--primary-color);
    text-align: center;
}

footer p {
    color: white;
    margin-top: 30px;

}

.blogpost-img-container {
    padding: 0px 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0px 50px 40px;
}

.blogpost-main-container  div h3 {
    border-bottom: 1px solid #CDD2DA;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 2rem;
}

.blogpost-main-container article h1 {
    font-size: 3.5rem;
    margin: 0px 0px 15px;
}

.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: #E6E9ED;
    text-align: center;
    padding-bottom: 50px;
}

.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;

}

.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.contact-main-container .contact-left, .contact-main-container .contact-right {
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container img {
    width: 100px;
}

.contact-main-container div {
    margin: 0 auto;
}

.contact-main-container div a {
    margin-left: 15px;
    font-size: 2rem;
}

.contact-main-container div p {
    margin: 25px 5px 5px 15px;
}

.profile-main-container {
    padding: 70px 40px;
    background-color: #E6E9ED;
    margin-bottom: 50px;
}

.profile-main-container img {
    width: 320px;
    margin-right: 30px;
}

.profile-main-container .profile-container {
    display: flex;
    flex-direction: row;
}

.profile-main-projects {
    padding: 0px 50px 40px;
}

.profile-main-projects h3 {
    border-bottom: 1px solid #CDD2DA;
    padding-bottom: 35px;
    text-align: center;
}

.projects-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-container {
    padding: 0px 30px;
    text-align: center;
}

.project-container h4 {
    padding-top: 10px;
    padding-bottom: 15px;
}